* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #222;
  color: white;
}

#container {
  position: relative;
  top: 100px;
  width: 100%;
  height: 500px;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.5s;
  box-shadow: 1px 1px 10px white;
  animation: myKey infinite 20s linear;
}

#show {
  position: relative;
  margin: auto;
  height: 400px;
  top: 15px;
  width: 400px;
  /* border: 1px solid black; */
  padding: 20px;
}

#month-year {
  position: relative;
  height: 50px;
}

#show-month-year {
  font-size: 30px;
  text-align: center;
  width: 200px;
  margin: auto;
  height: 50px;
  line-height: 50px;
}

#before,
#after {
  font-size: 40px;
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
#after {
  right: 0;
}

#week {
  position: relative;
  top: 20px;
  height: 250px;
}

#week ul {
  list-style-type: none;
  width: 100%;
}

#week li {
  text-align: center;
  display: inline-block;
  width: 45px;
}

.day {
  margin-left: 4px;
  margin-top: 0.5px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}
.inside:hover,
#before:hover,
#after:hover {
  color: rgb(255, 255, 255);
  background: rgb(78, 78, 78);
  cursor: pointer;
  text-shadow: none;
}
#before:hover,
#after:hover,
#show-month-year {
  border-radius: 20px;
}

#outside {
  background: rgb(255, 255, 255);
  color: #222;
  border-radius: 39%;
}
#clock {
  position: relative;
  top: 5px;
  border-radius: 20px;
  height: 80px;
  line-height: 70px;
  width: 300px;
  margin: auto;
  text-align: center;
  /* border: 5px solid black; */
}

.dis {
  display: inline;
  font-size: 50px;
}

@keyframes myKey {
  0%,
  100% {
    text-shadow: 1px 1px 1px white, 1px 1px 5px white,
      1px 1px 10px rgb(255, 255, 255);
  }
  25% {
    text-shadow: 1px 1px 1px white, 1px 1px 5px white,
      1px 1px 10px rgb(255, 1, 1);
  }
  50% {
    text-shadow: 1px 1px 1px white, 1px 1px 5px white,
      1px 1px 10px rgb(1, 255, 43);
  }
  75% {
    text-shadow: 1px 1px 1px white, 1px 1px 5px white,
      1px 1px 10px rgb(81, 0, 255);
  }
}
